# ARQUIVOS DE COMPILAÇÃO E CACHE DO C#
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# ARQUIVOS DO SISTEMA OPERACIONAL
.DS_Store
Thumbs.db

# CONFIGURAÇÕES DE EDITORES (VS Code e Visual Studio)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln.xcworkspace

# ARQUIVOS DE LOG E TESTES
*.log
TestResults/

# BANCO DE DADOS LOCAL E ARQUIVOS TEMPORÁRIOS
*.mdf
*.ldf
*.ndf
sqlite3/
*.sqlite3
*.db
*.db-shm
*.db-wal